%Header {
  img {
    width: 100%;
    padding-bottom: 0.5em;
  }
  h1 {
    padding: 0;
    margin: 0;
    color: inherit;
  }
}

.Teaser {
  @extend %Header;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: $border;
  a {
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
}

.BlogPostData {
  padding-bottom: 0.5em;
  font-size: small;
  line-height: 1;
  .Icon {
    stroke-width: 4;
  }
}

.BlogPost {
  .BlogPostHeader {
    @extend %Header;
  }
  word-break: break-word;
  line-height: 1.4;
  width: 100%;
  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
      text-decoration-color: currentColor;
    }
    &.Header {
      display: block;
      color: inherit;
      width: 100%;
      &:hover {
        text-decoration: none;
        &:after {
          // font-size: 80%;
          font-weight: bold;
          color: $line-color;
          content: ' 🔗';
        }
      }
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.3em 0;
    padding: 1em 0 0.3em 0;
    @media screen and (max-width: $breakpoint) {
      margin-top: -0.5em;
      padding-top: 1.5em;
    }
    border-bottom: $border;
    section &:first-child {
      margin-top: 0;
    }
    + p {
      margin-top: 0;
    }
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 1rem;
    margin: 1em 0;
    a {
      font-weight: bolder;
    }
  }
  ul {
    position: relative;
    list-style: none;
    padding-left: 1.2em;
  }
  li {
    @extend p;
    &:before {
      display: inline-block;
      content: '⚫'; // ‣•⁂❧☞‽※ ●⚫ ⬤ 🌑
      color: #333;
      position: absolute;
      font-size: 0.8em;
      left: 0;
    }
  }
  blockquote {
    border-left: 0.4em solid $line-color;
    font-style: italic;
    margin: 0;
    padding: 0 0 0 0.4em;
  }
}
