.Teaser {
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.BlogPostData {
  font-size: 0.8rem;
  line-height: 1;
  .Icon {
    stroke-width: 4;
  }
}
.BlogPostHeader {
  h1 {
    margin: 0;
    transition: inherit;
    order: 4;
    flex: 1 1 100%;
    font-size: 1.8rem;
    border: none;
  }
}

.BlogPost {
  word-break: break-word;
  a {
    color: $link-color;
    &:hover {
      text-decoration: underline;
      text-decoration-color: currentColor;
    }
    &.Header {
      display: block;
      color: inherit;
      width: 100%;
      &:hover {
        text-decoration: none;
        &:after {
          // font-size: 80%;
          font-weight: bold;
          color: $line-color;
          content: ' 🔗';
        }
      }
    }
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 1rem;
    margin: 1em 0;
  }
  ul {
    position: relative;
    list-style: none;
    padding-left: 1.2em;
  }
  li {
    @extend p;
    &:before {
      display: inline-block;
      content: '⚫'; // ‣•⁂❧☞‽※ ●⚫ ⬤ 🌑
      color: #333;
      position: absolute;
      font-size: 0.8em;
      left: 0;
    }
  }
}
