// Code formatting for hken.no 

@import './hljs/github'; // hljs formatting

pre, code {
  font-family: $code-font;
  font-weight: 400;
}
.cell.code + .cell.markdown,
.cell.markdown + .cell.code {
  // padding-top: .5em;
  border-top: 1px solid $line-color;
}
.CodeBlock {
  // border-top: 1px solid $line-color;
  // border-bottom: 1px solid $line-color;
}
%line {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  counter-increment: linenumber;
  &:before { 
    margin-right: 2ch;
    height: 100%;
    text-align: right;
    color: #ddd;
    display: inline-block;
    width: 2ch;
    content: counter(linenumber);
    -webkit-user-select: none;
    white-space: nowrap; 
  } 
} 
pre {
  font-size: 0.9rem;
  line-height: 1.4rem;
  tab-size: 4;
  @media screen and (max-width: 800px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.7rem;
    line-height: 1.0rem;
    tab-size: 2;
    .line:before {
      display: none;
    }
  }
  word-break: break-word;
  padding: 0;
  margin: 0;
  position: relative;
  white-space: pre-wrap;
  .line {
    @extend %line;
  }
  &.cell-input { 
    padding: .5*$line-height 0;
  }
  &.cell-output {
    padding: .2em .4em;
    color: white;
    background: $body-color;
  }
  code {
    background: none;
  }
}
