// Code formatting for hken.no

@import './hljs/docco'; // hljs formatting

pre, code {
  font-family: $code-font;
  font-weight: 400;
  // background: #f8f8f8;
}
%line {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  counter-increment: linenumber;
  &:before {
    margin-right: 2ch;
    height: 100%;
    text-align: right;
    color: #ddd;
    display: inline-block;
    width: 2ch;
    content: counter(linenumber);
    -webkit-user-select: none;
    white-space: nowrap;
  }
}
pre {
  font-size: 0.9rem;
  line-height: 1.5em;
  tab-size: 4;
  word-break: break-word;
  white-space: pre-wrap;
  @media screen and (max-width: 800px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 2.5vw;
    tab-size: 2;
    .line:before {
      display: none;
    }
  }
  padding: 0;
  margin: 0;
  position: relative;
  .line {
    @extend %line;
  }
  &.cell-input {
    padding: .5*$line-height 0;
  }
  &.cell-output {
    padding: .2em .4em;
    color: white;
    background: $body-color;
  }
  code {
    background: none;
  }
}
