.BlogPosts {
  padding: 0;
  margin-left: -1rem;
  display: flex;
  flex-flow: row wrap;
  .Teaser {
    min-width: 300px;
    flex: 1;
    line-height: 1;
    margin: 0.5em 0 0.5em 1rem;
    h1 {
      font-size: 1.4rem;
    }
  }
}
