@mixin full-page {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  header.PageHeader {
    min-width: $sidebar-width;
    height: calc(100vh - 1rem);
    nav.PageNav{
      padding-right: 1rem;
      border-right: $border;
      height: inherit;
      width: $sidebar-width;
      .TitleBar {
        display: none;
      }
      .Logo{
        flex-direction: column;
        align-items: center;
        margin: 0 0 .5em 0;
        .Monogram {
          font-size: $sidebar-width * 0.9;
          stroke-width: .6;
        }
        h1{
          font-size: 1.5rem;
        }
      }
      .ReadNext {
        flex-direction: column;
      }
    }
  }
  main {
    position: relative;
    padding-left: 1rem;
    display: block;
  }
}

@mixin mobile-page {
  margin: 0;
  top: $topbar-height;
  header.PageHeader {
    nav.PageNav{
      top: 0;
      left: 0;
      right: 0;
      padding: 0 0.5rem;
      z-index: 5000;
      .Logo {
        display: none;
      }
      .TitleBar {
        position: relative;
        background: white;
        height: $topbar-height;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 10;
        border-bottom: $border;
        h1 {
          padding: 0;
          margin: 0;
          font-size: 0.8em;
          line-height: 1;
        }
        .Icon.Monogram {
          margin-right: 0.2em;
        }
      }
      .ReadNext {
        display: flex;
        flex-direction: row;
        .Teaser {
          flex: 0 1 50%;
        }
      }
      .sidebar {
        z-index: 0;
        background: white;
        transition: all 200ms ease;
        position: absolute;
        padding: 0 0.5rem;
        left: 0;
        right: 0;
        top: -100vh;
        border-bottom: $border;
      }
      &:hover {
        .sidebar {
          top: $topbar-height;
        }
      }
    }
  }
}

article.Page {
  max-width: $page-width;
  padding: 0.5rem;
  position: relative;
  header.PageHeader {
    position: relative;
    nav.PageNav {
      position: fixed;
    }
  }
  @media screen and (min-width: $breakpoint) {
    @include full-page;
  }
  @media screen and (max-width: $breakpoint) {
    @include mobile-page;
  }
}
