
@mixin before($text) {
  &:before {
    content: $text;
  }
}

%uncollapsed {
  .author {
    order: 1;
    @include before('by ');
  }
  .date {
    order: 2;
    @include before('posted ');
  }
  .category {
    order: 3;
    @include before('in ');
  }
  h1 {
    margin: 0;
    transition: inherit;
    order: 4;
    flex: 1 1 100%;
    font-size: 1.8rem;
    border: none;
  }
  padding-top: .5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
%collapsed {
  padding: 2px 0;
  align-items: baseline;
  div, h1 {
    padding: 0;
    &:before {
      display: none;
    }
    &.category {
      display: none;
    }
  }
  h1 {
    font-size: inherit;
    font-weight: 400;
    flex: 1 1 60%;
  }
}
.PageHeader {
  z-index: 100;
  line-height: 1.2;
  font-weight: 200;
  .Title {
    $margin: .3rem;
    display: flex;
    font-size: .7em;
    box-sizing: content-box;
    div, h1 {
      margin-right: $margin;
    }
    border-bottom: 1px solid $line-color;
    @extend %uncollapsed;
  }
  .NavBar {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    .Icon {
      font-size: 1.2rem;
      padding: 3px 0;
      &.Monogram {
        stroke-width: 20;
      }
    }
    .SocialMedia {
      // align-self: flex-end;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @extend body;
    // background: rgba(0,0,0,.4);
    .Title.small {
      background: white;
      margin-bottom: 3rem;
      @extend %collapsed;
    }
    .drawer {
      @extend body;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      background: white;
      z-index: 200;
      transform: translateY(-100%);
      transition: 200ms all;
    }
    &:hover .drawer {
      transform: translateY(0);
    }
  }
}

