$len: 300px;
$fast: 300ms;
$medium: 600ms;
$slow: 3000ms;
$stroke-width: 2;

.Icon {
  height: 1em;
  vertical-align: top;
  display: inline-block;
  fill-opacity: 0;
  stroke: currentColor;
  stroke-width: $stroke-width;
  overflow: visible;
}
.animate {
  .Icon {
    transition: all $fast;
    &.Monogram {
      transition: stroke-dashoffset $slow ease 000ms,
                  stroke-dasharray  $slow ease 000ms;
    }
    &.Social {
      stroke-dasharray: $len;
      stroke-dashoffset: $len;
    }
  }

  .SocialMedia {
    $delay: 80ms;
    @for $n from 0 through 4 {
      a:nth-of-type(#{$n+1}) {
        .Icon.Social {
          transition: stroke-dashoffset $medium ease $delay * $n;
        }
      }
    }
  }
  &:hover .Social,
  & .Social:hover {
    stroke-dashoffset: 0px;
  }
  &:hover .Monogram,
  & .Monogram:hover {
    transition: stroke-dashoffset $medium ease 0ms,
                stroke-dasharray  $medium ease 0ms;
  }
}

