$ease:     ease-in-out;
$speed:             8s;
$stroke-width:      20;

$path-length:     8024;
$monogram-start:  .000;
$monogram-end:    .447;
$face-start:      .542;
$face-end:        .946;


@mixin line($start, $end) {
  $offset:   $start * -$path-length;
  $stroke:   $end * $path-length + $offset;
  $gap:      $path-length - $stroke;

  stroke-dashoffset: $offset;
  stroke-dasharray: $stroke $gap;
}

@keyframes monogram-loop {
  000% { @include line($monogram-start,   $monogram-end  )}
  050% { @include line($face-start,       $face-end      )}
  100% { @include line($monogram-start+1, $monogram-end+1)}
}

%face {
  @include line($face-start,   $face-end  ) }
%monogram {
  @extend %face;
  @include line($monogram-start,   $monogram-end  ) }

.Icon.Monogram {
  stroke-width: $stroke-width;
  path {
    transition: inherit;
    fill: none;
    stroke: currentColor;
    vector-effect: inherit;
  }
  .face { @extend %face; }
  .monogram { @extend %monogram; }
  .loop {
    animation: monogram-loop $speed infinite $ease;
  }
}
.animate:hover .Icon.Monogram,
.animate .Icon.Monogram:hover {
  .face { @extend %monogram; }
  .monogram { @extend %face; }
}

