$ease:     ease-in-out;
$speed:             8s;
$stroke-width:      2;

$path-length:      1045;
$monogram-start:  0.000;
$monogram-end:    0.449;
$face-start:      0.544;
$face-end:        0.947;


@mixin line($start, $end) {
  $offset:   $start * $path-length;
  $segment:   $end * $path-length - $offset;
  $gap:      $path-length - $segment;

  stroke-dashoffset: - $offset;
  stroke-dasharray: $segment$gap;
}

@keyframes monogram-loop {
  000% { @include line($monogram-start,   $monogram-end  )}
  050% { @include line($face-start,       $face-end      )}
  100% { @include line($monogram-start+1, $monogram-end+1)}
}

%face { @include line($face-start, $face-end) }
%monogram { @include line($monogram-start, $monogram-end) }

.Icon.Monogram {
  shape-rendering: geomtricPrecision;
  path {
    transition: inherit;
    fill: none;
    stroke: currentColor;
    stroke-width: inherit;
  }
  .face { @extend %face; }
  .monogram { @extend %monogram; }
  .loop {
    animation: monogram-loop $speed infinite $ease;
  }
}
.animate:hover .Icon.Monogram,
.animate .Icon.Monogram:hover {
  .face { @extend %monogram; }
  .monogram { @extend %face; }
}

