.Byline {
  border-top: 1px solid #ddd;
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  a {
    color: currentColor;
  }
  .text {
    flex: 1;
    font-size: .7rem;
    line-height: 1.2;
    margin: 0 .5em;
    .name {
      font-weight: 500;
    }
    .about {
    }
  }
  .Icon {
    // stroke-width: 5;
    font-size: 1.8rem;
  }
}
