.handle {
  &.grabbing { 
    cursor: move;
    cursor: grabbing;
  }
  &.move { 
    cursor: move;
    cursor: grab;
  }
  $handleSize: 20%;
  background: #ff3;
  opacity: 0.2;
  position: absolute;
  min-width: $handleSize;
  min-height: $handleSize;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &.left {
    left: -$handleSize / 2;
    right: unset;
  }
  &.right {
    right: -$handleSize / 2;
    left: unset;
  }
  &.top {
    top: -$handleSize / 2;
    bottom: unset;
  }
  &.bottom {
    bottom: -$handleSize / 2;
    top: unset;
  }
  &.top, &.bottom{ 
    &.left, &.right { 
      z-index: 2000;
    }
  }
}
