.resizer {
  height: 20em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-size: contain;
  background-repeat: no-repeat;
  @import 'handles';
  @import 'cropbox';
  .canvas {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
