.overlayWrapper {
  .dragKing {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: move;
  }
  svg.overlay {
    z-index: 10;
    shape-rendering: crispEdges;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    path, rect {
      stroke-width: 1px;
      vector-effect: non-scaling-stroke;
      fill: rgba(0,0,0,0.0);
    }
    .outside {
      fill: rgba(0,0,0,0.5);
    }
    .centerPoint {
      position: relative;
      .handle {
        cursor: crosshair; 
        opacity: 0;
        &:hover + .cross {
          stroke: rgba(255,255,0,0.8);
        }
      }
      .cross {
        pointer-events: none;
        stroke-width: 1px;
        stroke: rgba(255,255,0,0.3)
      }
    }
    .inside { 
      .box {
        stroke: rgba(255,255,255,0.3);
        cursor: move; 
      }
      &:hover .box {
        stroke: rgba(255,255,255,0.8);
      }
      svg.handles {
        overflow: visible;
        rect {
          // fill: yellow;
          // opacity: .2;
        }
        .top, .bottom { cursor: ns-resize; }
        .left, .right { cursor: ew-resize; }
      }
    }
  }
}
