
.cropInfo {
  top: 0;
  left: 0;
  position: absolute;
  display: table;
  .infoRow {
    display: table-row;
    .label, .value {
      display: table-cell;
    }
  }
}
symbol {
  overflow: visible;
}
@keyframes spin {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}
%feature {
  shape-rendering: geometricPrecision;
  overflow: visible;
  transition: all 500ms;
  text {
    transition: inherit;
    opacity: 0;
    pointer-events: none;
    tspan {
      fill: white;
      vector-effect: non-scaling-stroke;
      stroke: black;
      stroke-opacity: 0.4;
      stroke-width: 4;
      font-weight: 500;
      paint-order: stroke;
    }
  }
  circle, path, rect, use {
    overflow: visible;
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke: white;
  }
  .front {
    transition: all 300ms;
    stroke-opacity: 0.8;
    stroke-width: 1.2;
    pointer-events: none;
  }
  .back {
    stroke-opacity: 0.0;
    stroke-width: 15;
    pointer-events: stroke;
  }
  .cross {
    transition: all 300ms;
    pointer-events: none;
    stroke-opacity: 0.0;
    // transform-origin: 50% 50%;
    // animation: spin 10000ms linear infinite;
    // transform: rotate(45deg);
  }

  &:hover {
    .cross {
      stroke-opacity: 1;
    }
    .front {
      stroke-opacity: 1;
      stroke-width: 3;
    }
    text {
      opacity: 1;
    }
  }
}

.overlayWrapper {
  .dragKing {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: move;
  }
  svg.overlay {
    height: 100%;
    z-index: 10;
    shape-rendering: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .feature { @extend %feature; }

    path, rect, ellipse {
      vector-effect: non-scaling-stroke;
      fill: rgba(0,0,0,0.0);
    }
    .outside {
      fill: rgba(0,0,0,0.5);
    }
    .centerPoint {
      position: relative;
      .handle {
        cursor: crosshair;
        opacity: 0;
        &:hover + .cross {
          stroke: rgba(255,255,0,1.0);
        }
      }
      .cross {
        pointer-events: none;
        stroke: rgba(255,255,0,0.5)
      }
    }
    .inside {
      .box {
        stroke: rgba(255,255,255,0.3);
        cursor: move;
      }
      &:hover .box {
        stroke: rgba(255,255,255,0.8);
      }
      .handles {
        overflow: visible;
      }
    }
    &.inactive {
      .inside, .handle {
        pointer-events: none;
      }
    }
  }
}
