$margin: .5vw;
.cropbox-wrapper {
  .masterImgWrapper {
    position: relative;
    .dragKing {
      z-index: 1000;
      position: fixed;
      cursor: move;
      // opacity: 0.2;
      // background: blue;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .overlay {
      shape-rendering: crispEdges;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      path {
        vector-effect: non-scaling-stroke;
      }
      svg {
        overflow: visible;
        .handle {
          fill: yellow;
          opacity: 0;
          &:hover {
            // opacity: .5;
          }
        }
        .top, .bottom {
          cursor: ns-resize;
        }
        .left, .right {
          cursor: ew-resize;
        }
      }
      .boxOverlay {
        fill: black;
        opacity: .5;
        stroke-width: 1px;
        stroke: white;
      }
      .boxHandle {
        cursor: crosshair;
        fill: red;
        opacity: 0;
      }
      .centerPoint {
        stroke-width: 1px;
        stroke: red;
      }
    }
  }
  img, svg {
    display: block;
  }
  .previewPanel {
    display: flex;
    flex-direction: row;
    margin: -$margin;
    padding: 2*$margin 0;
    .previewImg {
      margin: $margin;
      background-position: 50% 20%;
      background-size: 120% auto; 
      svg {
      }
      // background-size: cover;
    }
  }
}
