$len: 150;
@keyframes icons-loop {
  0% {   stroke-dashoffset: $len;  }
  100% {   stroke-dashoffset: -$len;  }
  40%, 60% {   stroke-dashoffset: 0;  }
}
$dlen: 15;
@keyframes dash-loop {
  0%, 100% {   
    stroke-dashoffset: 0;
    stroke-dasharray: 0 $dlen; 
    stroke-width: 0;
    transform-origin: center;
    transform: scale(1.3);
  } 
  40%, 60% {   
    stroke-dashoffset: $dlen*3;
    stroke-dasharray: $dlen 0; 
    stroke-width: 2;
    transform: scale(1.0);
  }
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  path, line, polyline {
    stroke-linejoin: round;
    stroke-dasharray: $len;
    fill-opacity: 0;
    stroke: black;
    stroke-width: 2;
    animation: icons-loop 2s infinite ease-in; 
    animation: dash-loop 3s infinite ease-out; 
  }
}