.infoParent {
  position: relative; }
  .infoParent:hover .infoBox {
    transform: translateY(0); }

.infoBoxWrapper {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 80; }
  .infoBoxWrapper .infoBox {
    display: block;
    top: inherit;
    transform: translateY(105%);
    transition: transform 100ms ease;
    background: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    line-height: 1.2;
    color: white;
    padding: .3em;
    margin: 0; }
    .infoBoxWrapper .infoBox div {
      display: inline-block; }
    .infoBoxWrapper .infoBox .infoRow {
      padding-right: 1em; }
      .infoBoxWrapper .infoBox .infoRow .value {
        font-weight: 500; }
      .infoBoxWrapper .infoBox .infoRow .label {
        padding-right: .2em; }
.previewPanel {
  display: flex;
  flex: 3;
  margin: -0.3vw;
  padding: 0.6vw 0 0 0; }
  .previewPanel .previewWrapper {
    position: relative;
    margin: 0.3vw; }
    .previewPanel .previewWrapper svg.previewImg {
      display: block; }
.cropInfo {
  top: 0;
  left: 0;
  position: absolute;
  display: table; }
  .cropInfo .infoRow {
    display: table-row; }
    .cropInfo .infoRow .label, .cropInfo .infoRow .value {
      display: table-cell; }

symbol {
  overflow: visible; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.overlayWrapper svg.overlay .feature {
  shape-rendering: geometricPrecision;
  overflow: visible;
  transition: all 500ms; }
  .overlayWrapper svg.overlay .feature text {
    transition: inherit;
    opacity: 0;
    pointer-events: none; }
    .overlayWrapper svg.overlay .feature text tspan {
      fill: white;
      vector-effect: non-scaling-stroke;
      stroke: black;
      stroke-opacity: 0.4;
      stroke-width: 4;
      font-weight: 500;
      paint-order: stroke; }
  .overlayWrapper svg.overlay .feature circle, .overlayWrapper svg.overlay .feature path, .overlayWrapper svg.overlay .feature rect, .overlayWrapper svg.overlay .feature use {
    overflow: visible;
    vector-effect: non-scaling-stroke;
    fill: none;
    stroke: white; }
  .overlayWrapper svg.overlay .feature .front {
    transition: all 300ms;
    stroke-opacity: 0.8;
    stroke-width: 1.2;
    pointer-events: none; }
  .overlayWrapper svg.overlay .feature .back {
    stroke-opacity: 0.0;
    stroke-width: 15;
    pointer-events: stroke; }
  .overlayWrapper svg.overlay .feature .cross {
    transition: all 300ms;
    pointer-events: none;
    stroke-opacity: 0.0; }
  .overlayWrapper svg.overlay .feature:hover .cross {
    stroke-opacity: 1; }
  .overlayWrapper svg.overlay .feature:hover .front {
    stroke-opacity: 1;
    stroke-width: 3; }
  .overlayWrapper svg.overlay .feature:hover text {
    opacity: 1; }

.overlayWrapper .dragKing {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: move; }

.overlayWrapper svg.overlay {
  height: 100%;
  z-index: 10;
  shape-rendering: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .overlayWrapper svg.overlay path, .overlayWrapper svg.overlay rect, .overlayWrapper svg.overlay ellipse {
    vector-effect: non-scaling-stroke;
    fill: transparent; }
  .overlayWrapper svg.overlay .outside {
    fill: rgba(0, 0, 0, 0.5); }
  .overlayWrapper svg.overlay .centerPoint {
    position: relative; }
    .overlayWrapper svg.overlay .centerPoint .handle {
      cursor: crosshair;
      opacity: 0; }
      .overlayWrapper svg.overlay .centerPoint .handle:hover + .cross {
        stroke: yellow; }
    .overlayWrapper svg.overlay .centerPoint .cross {
      pointer-events: none;
      stroke: rgba(255, 255, 0, 0.5); }
  .overlayWrapper svg.overlay .inside .box {
    stroke: rgba(255, 255, 255, 0.3);
    cursor: move; }
  .overlayWrapper svg.overlay .inside:hover .box {
    stroke: rgba(255, 255, 255, 0.8); }
  .overlayWrapper svg.overlay .inside .handles {
    overflow: visible; }
  .overlayWrapper svg.overlay.inactive .inside, .overlayWrapper svg.overlay.inactive .handle {
    pointer-events: none; }
.cropboxWrapper {
  max-width: 50em;
  position: relative;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  margin: 1rem 0; }
  .cropboxWrapper img {
    display: block; }
  .cropboxWrapper .masterImgWrapper {
    flex: 11;
    align-self: center; }
